<!DOCTYPE html>
<html>
<head>
<style>
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: maroon;
}

/* selected link */
a:active {
  color: blue;
}
</style>
ul.demo {
  list-style-type: disk;
  margin: 10;
  padding: 10;
}
</style>
</head>
<body>

<p>Default list:</p>
<ul>
  <li>Home</li>
  <li>Binair stelsel</li>
  <li>Kleurenmodellen</li>
</ul>
